{% extends 'base.html.twig' %}

{% block title %}Édredon{% endblock %}

{% block body %}
    <h1>Détails de l'édredon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th></th>
                <td><img src="{{ vich_uploader_asset(room, 'imageFile') }}"/></td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ room.summary }}</td>
            </tr>
            <tr>
                <th>Déscription</th>
                <td>{{ room.description }}</td>
            </tr>
            <tr>
                <th>Capacité</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>Superficie</th>
                <td>{{ room.superficy }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ room.price }}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ room.address }}</td>
            </tr>
            <tr>
                <th>Propriétaire</th>
                {% if room.owner is null %}
                <td>No registered Owner</td>
                {% else %}
                <td>{{ room.owner.Firstname }} {{room.owner.Familyname }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Région(s)</th>
                {% if room.regions is null %}
                <td>No registered Region</td>
                {% else %}
                <td>
                {% for region in room.regions %}
                    {{region.name}}<br>
                {% endfor %}
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <div align='center'>
    <br>
    <a href="{{ path('room_index') }}" class='btn btn-outline-dark'>Retour à la liste</a>
    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('room_edit', {'id': room.id}) }}" class='btn btn-outline-success'>Modifier</a>
    {% endif %}
    </div>

    {% set basket = app.session.get('basket') %}
    {% dump(basket) %}
    {% if room.id in basket %}
    <h3>    Etablissement ajouté au panier</h3>
    <a href="{{ path('room_mark', {'id':room.id})}}" class='btn btn-outline-warning'>Enlever du panier</a>
    {% else %}
    <a href="{{ path('room_mark', {'id':room.id})}}" class='btn btn-outline-warning'>Ajouter au panier</a>
    {% endif %}

    {% if is_granted('ROLE_USER')%}
    {{ include('room/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
