{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <h1>Room</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ room.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>Superficy</th>
                <td>{{ room.superficy }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ room.price }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ room.address }}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{ room.owner.Firstname }} {{room.owner.Familyname }}</td>
            </tr>
            <tr>
                <th>Region(s)</th>
                <td>
                {% for region in room.regions %}
                    {{region.name}}<br>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <div align='center'>
    <br>
    <a href="{{ path('room_index') }}" class='btn btn-outline-dark'>back to list</a>
    <br>
    <a href="{{ path('room_edit', {'id': room.id}) }}" class='btn btn-outline-success'>edit</a>
    <br>
    </div>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
