{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <h1>Room</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ room.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>Superficy</th>
                <td>{{ room.superficy }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ room.price }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ room.address }}</td>
            </tr>
            <tr>
                <th>Owner</th>
                {% if room.owner is null %}
                <td>No registered Owner</td>
                {% else %}
                <td>{{ room.owner.Firstname }} {{room.owner.Familyname }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Region(s)</th>
                {% if room.regions is null %}
                <td>No registered Region</td>
                {% else %}
                <td>
                {% for region in room.regions %}
                    {{region.name}}<br>
                {% endfor %}
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <div align='center'>
    <br>
    <a href="{{ path('room_index') }}" class='btn btn-outline-dark'>back to list</a>
    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('room_edit', {'id': room.id}) }}" class='btn btn-outline-success'>edit</a>
    {% endif %}
    </div>

    {% set urgents = app.session.get('urgents') %}
    {% dump(urgents) %}
    {% if room.id in urgents %}
    <h3>    Etablissement ajouté au panier</h3>
    <a href="{{ path('room_mark', {'id':room.id})}}" class='btn btn-outline-warning'>Enlever du panier</a>
    {% else %}
    <a href="{{ path('room_mark', {'id':room.id})}}" class='btn btn-outline-warning'>Ajouter au panier</a>
    {% endif %}

    {% if is_granted('ROLE_USER')%}
    {{ include('room/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
