{% extends 'base.html.twig' %}
{% block title %}Owner index{% endblock %}

{% block body %}
    <h1>Owner index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>FamilyName</th>
                <th>Adress</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for owner in owners %}
            <tr>
                <td>{{ owner.id }}</td>
                <td>{{ owner.firstname }}</td>
                <td>{{ owner.familyName }}</td>
                <td>{{ owner.adress }}</td>
                <td>{{ owner.country }}</td>
                <td>
                    <a href="{{ path('owner_show', {'id': owner.id}) }}" class='btn btn-outline-primary'>show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('owner_edit', {'id': owner.id}) }}" class='btn btn-outline-secondary'>edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <div align='center'>
    <a href="{{ path('owner_new') }}" class='btn btn-outline-dark'>Create new</a>
    </div> 
    {% endif %}   
{% endblock %}
