{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}
{% block body %}
<p><h1 align='center'>{{Message}}</h1></p>

<table class="table">
    <thead>
        <tr>
            <th>Résumé</th>
            <th>Description</th>
            <th>Capacité</th>
            <th>Superficie</th>
            <th>Prix</th>
            <th>Addresse</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for room in rooms %}
        <tr>
            <td>{{ room.summary }}</td>
            <td>{{ room.description }}</td>
            <td>{{ room.capacity }}</td>
            <td>{{ room.superficy }}</td>
            <td>{{ room.price }}</td>
            <td>{{ room.address }}</td>
            <td>
                <a href="{{ path('room_show', {'id': room.id}) }}" class='btn btn-outline-primary'>Détails</a>
                <a href="{{ path('room_mark', {'id':room.id})}}" class='btn btn-outline-warning'>Enlever du panier</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}