{% extends 'base.html.twig' %}
{#This page is used by the main Page#}

{% block title %}Édredons & Déjeuners{% endblock %}

{% block body %}
<h3 align='center'>Bienvenue à l'agence Édredons & Déjeuners</h3>
<br>
<h4 align='center'><i>Annonces par régions :</i></h4>
<div align='center'>
<h4><i>{{regionSelected}}</i></h4>
<br>
{% for room in rooms %}
    {% for region in room.regions %}
        {% if (regionSelected is null) %}
            <p>{{ room.summary}}</p>
            {% endif %}
        {% if (region.name == regionSelected) %}
            <p>{{ room.summary}}</p>
        {% endif %}
    {% endfor %}
{% endfor %}

{% endblock %}
{% block footer %}
<p><u>Region List :</u></p>
{% for regionName in regions %}
<a href="{{ path('agvoy_region', { 'regionNameSelected': regionName}) }}" class='btn btn-outline-primary'>{{regionName}}</a>
{% endfor %}

{% endblock %}
