{% extends 'base.html.twig' %}

{% block title %}Liste des Régions{% endblock %}

{% block body %}
    <h1>Liste des Régions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Présentation</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td>{{ region.name }}</td>
                <td>{{ region.presentation }}</td>
                <td>{{ region.country }}</td>
                <td>
                    <a href="{{ path('region_show', {'id': region.id}) }}" class='btn btn-outline-primary'>Détails</a>
                    {% if is_granted('ROLE_ADMIN')%}
                    <a href="{{ path('region_edit', {'id': region.id}) }}" class='btn btn-outline-secondary'>Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucunes régions trouvées - Vous vivez sur Mars ?</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN')%}
    <div align='center'>
    <a href="{{ path('region_new') }}" class='btn btn-outline-dark'>Créer une nouvelle région</a>
    </div>
    {% endif %}
{% endblock %}
