{% extends 'base.html.twig' %}

{% block title %}Région{% endblock %}

{% block body %}
    <h1>Détail de la Région {{ region.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ region.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ region.name }}</td>
            </tr>
            <tr>
                <th>Présentation</th>
                <td>{{ region.presentation }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ region.country }}</td>
            </tr>
        </tbody>
    </table>

    <div align='center'>
        <br>
        <a href="{{ path('region_index') }}" class='btn btn-outline-dark'>Retour à la liste</a>
        
        {% if is_granted('ROLE_USER') %}
        <a href="{{ path('region_edit', {'id': region.id}) }}" class='btn btn-outline-success'>Modifier</a>
        {% endif %}
        </div>
    {% if is_granted('ROLE_USER') %}
    {{ include('region/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
